.footer__copyright {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    text-align: left;
    line-height: 14px;
  }
}
