.lead__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  width: 640px;
  margin: 32px 0 64px;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 40px;
  }
}
