.cover__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  width: 560px;
  color: #fff;
  margin: 0 0 32px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin-bottom: 16px;
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
