.footer {
  width: 1184px;
  margin: 0 auto 24px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 186px;
    flex-direction: column;
    margin-left: 16px;
  }
}
