.place__url-heading {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0 0 12px 0;
}
